* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 820px) {
  .main-container {
    max-width: 550px;
    margin: auto;
  }

  .input-size {
    max-width: 300px;
  }

  .margin-small-input {
    left: 120px;
    max-width: 200px;
  }

  .small-input {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 375px) {
  .list-box {
    max-width: 100%;
  }

  .edit-delete-margin {
    left: 90px;
  }

  .input-size {
    max-width: 200px;
  }

  .margin-right {
    max-width: 100px;
  }

  .new-list-button {
    min-width: 160px;
  }

  .list-container {
    max-width: 100%;
    margin-left: 48px;
  }

  .margin-small-input {
    max-width: 200px;
  }

  .small-input {
    margin-top: 20px;
  }

  .currency-img {
    max-width: 100%;
    padding-left: 40px;
  }
}
