body {
  background-color: #f0f0f0;
  font-family:
    Montserrat,
    sans-serif;
}

.bg-img {
  opacity: 0.35;
  background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%));
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-position {
  position: relative;
}

.main-container {
  width: 100%;
  height: 90vh;
}

.row {
  display: flex;
}

.listing-title {
  font-weight: 600px;
  color: black;
  margin-top: 40px;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.button-container {
  height: 60vh;
}

.edit-create-button {
  height: 150px;
}

.bottom {
  bottom: 20px;
  top: 50px;
}

.margin-auto {
  margin: auto;
}

.new-list-button {
  background-color: #0e2fa4;
  border: #0e2fa4;
  padding: 5px 28px;
  border-radius: 24px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 160px;
  height: 45px;
}

.column {
  flex-direction: column;
}

.input-size {
  width: 500px;
  height: 30px;
  margin: 0 auto 40px;
}

.small-input {
  width: 138px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.margin-button {
  margin-bottom: 40px;
}

.margin-small-input {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 30px;
}

input,
select {
  border: 1px solid #9f9999;
  border-radius: 4px;
  padding-left: 8px;
}

.font-label {
  color: #747373;
  font-weight: 600;
}

.item {
  flex-basis: 50%;
}

.relative-position {
  position: relative;
}

.list-box {
  width: 540px;
  height: 150px;
  background-color: white;
  box-shadow: 5px 5px #c4c4c4;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.country-img {
  height: 150px;
  width: 150px;
}

li {
  list-style: none;
}

.list-margin {
  margin-left: 20px;
}

.margin-right {
  margin-right: 70px;
}

.edit-delete-margin {
  font-size: 14px;
  right: -320px;
  top: 14px;
}

.price-margin {
  position: absolute;
  right: 10px;
  font-weight: 600;
  color: #0e2fa4;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

.icon {
  color: black;
  position: absolute;
  top: 25px;
  right: 10px;
}

.padding-top {
  padding-top: 6px;
}

.row-inline {
  display: inline;
}

.modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  height: 150px;
  width: 400px;
  border-radius: 5px;
}

.modal-button {
  background-color: #0e2fa4;
  border: #0e2fa4;
  padding: 5px 20px;
  border-radius: 24px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100px;
  height: 45px;
}

.date-title {
  width: 130px;
  font-weight: bold;
  padding-bottom: 30px;
  color: #0c1e44;
  text-shadow: 0 0 4px #fff;
  padding-right: 35px;
  margin: auto;
}

.text-align-center {
  text-align: center;
}

button {
  cursor: pointer;
}

.subtitle {
  width: 120px;
}

.bold {
  font-weight: bold;
}

.date-form {
  width: 80px;
  color: black;
  height: 80px;
}

.currency-img {
  opacity: 0.75;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%));
  right: 150px;
  top: -158px;
  z-index: 100;
  box-shadow: 0 5px #c4c4c4;
}

.gif {
  width: 250px;
  height: 250px;
  z-index: 100;
  opacity: 0.75;
  margin: auto;
}

.display-none {
  display: none;
}

.display-unset {
  display: unset;
}

.intro-text {
  width: 500px;
  text-align: center;
  margin: auto;
}
