body {
  background-color: #f0f0f0;
  font-family:
    Montserrat,
    sans-serif;
}

.hidden {
  display: none;
}

.main-container {
  width: 1100px;
  margin: auto;
  height: 90vh;
}

.row {
  display: flex;
}

.listing-title {
  font-weight: 600;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.button-container {
  height: 60vh;
}

.edit-create-button {
  position: relative;
  height: 150px;
}

.bottom {
  position: absolute;
  bottom: 20px;
}

.new-list-button {
  background-color: #0e2fa4;
  border: #0e2fa4;
  padding: 5px 28px;
  border-radius: 24px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 160px;
  height: 45px;
}

.column {
  flex-direction: column;
}

.input-size {
  width: 500px;
  height: 30px;
  margin: 0 auto 40px;
}

.small-input {
  width: 138px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.margin-small-input {
  margin-left: 300px;
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 30px;
}

input,
select {
  border: 1px solid #9f9999;
  border-radius: 4px;
  padding-left: 8px;
}

.font-label {
  color: #747373;
  font-weight: 600;
}

.item {
  flex-basis: 50%;
}

.list-container {
  width: 450px;
  height: 150px;
  background-color: white;
  box-shadow: 5px 5px #c4c4c4;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.normal {
  display: normal;
}

li {
  list-style: none;
}

.list-margin {
  margin-left: 20px;
}

.margin-right {
  margin-right: 70px;
}

.location-margin {
  margin-right: 47px;
}

.currency-margin {
  margin-right: 25px;
}

.edit-delete-margin {
  position: relative;
  font-size: 14px;
  right: -270px;
  top: 14px;
}

.price-margin {
  position: absolute;
  right: 10px;
  font-weight: 600;
  color: #0e2fa4;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.icon {
  color: black;
  position: absolute;
  top: 20px;
  right: 10px;
}

.relative-position {
  position: relative;
}

.padding-top {
  padding-top: 8px;
}

.row-direction {
  display: inline;
}

.text-center {
  margin-left: 220px;
  margin-top: 30px;
  width: 100px;
  text-align: center;
}

.new-itinerary-margin {
  margin-left: 180px;
  margin-top: 70px;
}

.modal {
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 150px;
  width: 400px;
  border-radius: 5px;
}

.modal-button {
  background-color: #0e2fa4;
  border: #0e2fa4;
  padding: 5px 20px;
  border-radius: 24px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100px;
  height: 45px;
}
